header {
  nav {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 8px;

    a {
      color: rgba(255, 255, 255, 0.25);
      display: inline-flex;
      font-size: large;
      font-weight: bold;
      justify-content: center;
      padding: 8px 32px;
      border-radius: 16px 0;
    }

    a:hover {
      background-color: rgba(249, 115, 22, 0.75);
      color: #fff;
    }

    a:first-of-type {
      border-radius: 16px 0;
    }

    a:last-of-type {
      border-radius: 0 16px;
    }
  }
}

@media (max-width: 520px) {
  header {
    margin-top: 8px !important;
    h1 {
      font-size: 1.25rem !important;
      margin-left: 0px;
    }
    nav {
      a {
        padding: 4px 8px;
      }
    }
  }
}
